@media (min-width: 992px) {
    .nav-item.dropdown .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
