@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, #fefefd 0%, #f8f4f1 22.86%);
}
:root {
    --green: #5ea813;
    --lemon: #fbdfb5;
    --light-lemon: #f8f5f2;
    --black: #222222;
    --gray: #333333;
    --white: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Figtree", sans-serif;
}
h1{
    font-size: 45px;
    font-weight: 800;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
h3{
    font-size: 26px;
    font-weight: 700;

}
h4{
    font-size: 20px;
    font-weight: 700;

}
p {
    font-size: 16px;
    line-height: 140%;
    color: var(--gray);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    line-height: 3rem;
}
a {
    text-decoration: none;
    color: var(--black);
}
.btns {
    border-radius: 8px;
    background: var(--green);
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-family: Figtree;
    font-style: normal;
    font-weight: 700;
    padding: 14px 25px;
    overflow: hidden;
    position: relative;
}
.btn:hover {
    color: var(--white);
}
.btns:after {
    content: "";
    position: absolute;
    width: 263px;
    height: 230px;
    background: var(--gray);
    border-radius: 83px 143px 278px 156px;
    left: 0;
    top: 0;
    transform: translate(71px, 64px);
    z-index: 0;
    transition: 0.8s;
}
.btns:hover:after {
    transform: translate(-61px, -64px);
}
a.btn.btns span {
    position: relative;
    z-index: 99;
}
section {
    padding: 80px 0;
}
/* header  */
.nav-item .nav-link {
    font-family: Figtree;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
    margin-right: 26px;
}
.active-tab,
.nav-link:hover {
    border-radius: 6px;
    background: var(--background, #f8f5f2);
    padding: 12px 20px;
}
.dropdown-menu {
    padding: 0;
    background: #f8f5f2;
    border: 0;
    box-shadow: 0px 1px 3px 0px #5ea81333;
}
.dropdown-item {
    font-size: 15px;
    font-weight: 500;
    transition: 0.4s;
    transition: 0.5s;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background: var(--lemon);
    padding: 9px 16px;
}
/* header end  */

/* footer  */
footer {
    background-color: #f8eddd;
    border-radius: 35px 35px 0px 0px;
    padding: 141px 0 40px 0;
}
.footer-box p,
.footer-bottom-btm p {
    color: var(--green);
    font-size: 20px;
    font-family: Figtree;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.footer-box ul li,
.footer-btm ul li{
    transition: 0.5s;

}
.footer-box ul li a,
.footer-btm ul li a{
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: var(--gray);
    transition: 0.5s;
}
/* .footer-box ul li {
    margin-bottom: 20px;
} */
.border-bottom {
    border-color: #7e7e7e !important;
    padding-bottom: 30px;
}

/* Footer end */

.footer-btm ul {
    display: flex;
    justify-content: space-between;
}
.social-icon span {
    margin-left: 10px;
}
.footer-box ul li a:hover, .footer-btm ul li a:hover,.footer-box ul li:hover, .footer-btm ul li:hover{
    color: var(--green);
    transform: translate(10px);
}
.footer .footer-bottom-btm span a svg circle,
.footer .footer-bottom-btm span a svg{
    transition: 0.5s;
}
.footer .footer-bottom-btm span a svg:hover circle{
    fill: #fff;
}
.footer .footer-bottom-btm span a svg:hover{
    transform: translateY(-10px);
}

.call-now .row{
    background-image: url(../images/footer-call.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px;
    border-radius: 15px;
}
.call-now-heading {
    font-size: 35px;
    font-family: Figtree;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    color: #fff;
}
.email-sub {
    width: 484px;
    height: 40px;
    border-radius: 5px;
    background:#9393936e;
    outline: 0;
    box-shadow: none;
    border: 0;
    padding: 0 10px;
    color: #fff;
}
input.email-sub::placeholder {
    color: var(--background, #FFF);
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.call-now button span{
    z-index: 99;
    position: relative;
}
section.call-now.p-0 {
    position: relative;
    top: 100px;
}
.call-now.p-0 {
    position: relative;
    top: 100px;
}


/* homepage  */
.banner-home {
    padding: 40px 0 !important;
}
.heading,.heading-homeh2 {
    position: relative;
}

.heading h1:after {
    content: "";
    position: absolute;
    background-image: url(../images/svg/headingbanner.svg);
    width: 80%;
    height: 50%;
    left: 81px;
    top: 104px;
    background-repeat: no-repeat;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    0%   {left: 0px;}
    25%  {left: 100px;}
    75%  {left: 50px}
    100% {left: 100px;}
  }
.image-box:first-child {
    width: 380px;
    overflow: hidden;
    height: 379px;
}
.image-box:first-child img{
    width: 100%;
}
.image-box,.image-box img {
    width: 73px;
    height: 379px;
    border-radius: 15px;
    object-fit: cover;
}
.image-box {
    margin-left: 17px;
}

.heading h1:after {
    content: "";
    position: absolute;
    background-image: url(../images/svg/headingbanner.svg);
    width: 80%;
    height: 50%;
    left: 81px;
    top: 104px;
    background-repeat: no-repeat;
}
.heading-homeh2:after{
    content: "";
    position: absolute;
    background-image: url(../images/svg/home-headingh2.svg);
    width: 80%;
    height: 50%;
    left: 2px;
    top: 41px;
    background-repeat: no-repeat;
    animation: homeh2 5s infinite;

}
@keyframes homeh2 {
    0%   {left: 0px;}
    25%  {left: 100px;}
    75%  {left: 50px}
    100% {left: 100px;}
  }
  h5 {
    color: var(--heading, #222);
    font-size: 20px;
    font-family: Figtree;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.outsourcing {
    margin-bottom: 110px;
}
.outsourcing:last-child{
    margin-bottom: 0px;

}


/* about page  */
.about-banner {
    background-image: url(http://localhost/github/cotginit/public/images/banner/about-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    padding: 80px 0;
}

.banner-text {
    text-align: center
}

.banner-text h1 {
    color: var(--white);
}

.breadcrumb {
    text-align: center;
}

.breadcrumb .breadcrumb-item {
    color: var(--white);
}

.side-left {
    padding: 5px 10px;
}

.heading-start {
    position: relative;
    padding-bottom: 10px;
}

.heading-start h2:after {
    content: "";
    position: absolute;
    background-image: url(http://localhost/github/cotginit/public/images/svg/heading-bottom-start.svg);
    width: 100%;
    height: 100%;
    left: 0;
    top: 45px;
    background-repeat: no-repeat;
}

.heading-end {
    position: relative;
    padding-bottom: 10px;
}

.heading-end h2:after {
    content: "";
    position: absolute;
    background-image: url(http://localhost/github/cotginit/public/images/svg/heading-bottom-end.svg);
    width: 100%;
    height: 100%;
    right: -50%;
    top: 45px;
    background-repeat: no-repeat;
}

.paragraph p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
}

.inverted-coma-text {
    position: relative;
    color: var(--green);
    font-family: Figtree;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 40px;

}

.inverted-coma-text::after {
    content: "";
    position: absolute;
    background-image: url('../public/images/svg/inverted-coma.svg');
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}

.side-right {
    padding: 5px 0;
    position: relative;
}

.side-img img {
    border-radius: 20px;
    /* top: 100px; */
}

.progressbar {
    width: 157px;
    height: 157px;
    top: 869px;
    left: 650px;
    border-radius: 9.930442810058594px;
}

.circle {
    width: 138px;
    height: 138px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    place-content: center;
    position: relative;
    align-items: center;
    justify-content: center;
}

.circle:before {
    position: absolute;
    content: '';
    width: 86%;
    height: 86%;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-bar-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progressbar {
    background: #fff;
    width: 157px;
    height: 157px;
    top: 300px;
    left: -50px;
    border-radius: 9.930442810058594px;
    position: absolute;
}

.score-heading {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
}

.result-score {
    font-weight: 700;
    font-size: 45px;
    color: var(--green);
}

.score-heading {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
}

.result-score {
    font-family: Figtree;
    font-size: 31px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}

.block {
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 8px -2px #cdcdcd;
    text-align: center;
    padding: 7px 25px 64px 25px;
    margin-bottom: 35px;
}

.block p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}